@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0px;

}

.ul {
    list-style: none;
    font-weight: bold;
}

.a {
    text-decoration: none ;
    color: inherit;
}

/* cabeçalho */
header {
    background: no-repeat center/cover url("assets/russia.jpg");
    height: calc(130vh - 90px);
}

.header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav p {
    font-weight: bold;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

/*curiosidade*/
.historia .historia-title {
    width: 50%;
    text-align: center;
    margin: 0px;
    font-size: 2rem;
    
}

.historia {
    background: #e4e4e1;
    padding: 0px;
    height: 395px;
}

.historia .historia-card {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.historia .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.historia .card {
    width: 250px;
    height: 310px;
    background: white;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.historia .card-content {
    padding: 0 15px;
}

.historia .card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.historia .card-content ul li {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: grey;
    font-weight: bold;
}

.historia .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.historia .card-content h1 {
    font-size: 1rem;
}

.historia .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #fbff00;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.historia .card .card-tag p {
    margin:0;
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}

/*relato*/ 
.relato{
    text-align: center;
    background: rgb(26, 26, 255);
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.relato .relato-title{
    width: 90%;
    text-align: center;
    margin: 0px;
    font-size: 2rem;
}
.section .section-historia .section-relato .section-contato {
    margin-top: 0; /* Remove o espaço em branco acima da seção */
    margin-bottom: 0; /* Remove o espaço em branco abaixo da seção */
    padding-top: 0; /* Remove o preenchimento acima da seção */
    padding-bottom: 0; /* Remove o preenchimento abaixo da seção */
}

/*contato*/
.contato {
    height: 300px;
    background-color: rgb(250, 34, 34);
}


.Contato h3{
    color: white;
    font-size: 24px;
    padding: 42px;  
    text-align: left;
    margin: 0px;
}


.Contato .icones ul li {
    color: black;
    line-height: 2.8;
    font-size
}


.Contato .icones ul li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: white;
}


.auth {
    color: white;
    padding: 20px;
}

